html {
	background-color: #e5e5e5;
}

.grid {
  display:grid;
  grid-template: 100px 200px / 200px auto 150px;

  grid-gap:4px;
}

.grid div {
	background-color: pink;
}

.grid div:nth-child(2) {
	grid-row-start: 2;
  grid-row-end: 3;
}

.grid div:nth-child(5) {
	grid-row: 1/2;
  grid-column: 1/2;
}
